body {
    background-color: #000;
  }

  #landing-header {
    z-index: 1; /* This is coming forward towards us (above the canvas) */
    position: relative;
    text-align: center;
    padding-top: 40vh; /* 40 view height */
  }

  #landing-header h1 {
    color: #fff;
  }

  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Will keep the images behind the text */
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }

  .slideshow li:nth-child(1) { 
    background-image: url(https://images.wallpaperscraft.com/image/tent_camping_travel_135562_3840x2400.jpg) 
  }
  .slideshow li:nth-child(2) {
    background-image: url(https://images.wallpaperscraft.com/image/tent_starry_sky_night_tourism_119523_3840x2400.jpg); 
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.wallpaperscraft.com/image/tent_campfire_night_147465_3840x2400.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://images.wallpaperscraft.com/image/tent_night_camping_138051_3840x2400.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://images.wallpaperscraft.com/image/camping_sausages_fire_125124_3840x2400.jpg);
    animation-delay: 40s; 
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  